<html>
<head>
  <title>Causality Redux</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="author" content="Andrew Banks">
  <link rel="icon" href="data:,">
</head>
<body>
  <div id="reactroot">
    <h1>
    </h1>
  </div>
</body>

</html>